{
  "refName": "NIFIREGISTRY-1",
  "serviceType": "NIFIREGISTRY",
  "serviceConfigs": [
    {
      "name": "kerberos.auth.enabled",
      "value": "true"
    }
  ],
  "roleConfigGroups": [
     {
      "refName" : "NIFIREGISTRY-1-NIFI_REGISTRY_SERVER-BASE",
      "roleType" : "NIFI_REGISTRY_SERVER",
      "configs": [
        
      ],
      "base": true
    }
  ]
}