{
  "refName": "STREAMS_MESSAGING_MANAGER",
  "serviceType": "STREAMS_MESSAGING_MANAGER",
  "serviceConfigs": [
    {
      "name": "kerberos.auth.enable",
      "value": "true"
    }, {
      "name": "cm.metrics.host",
      "value": "{{ hostvars[scm_hostname]['inventory_hostname'] }}"
    }, {
      "name": "cm.metrics.password",
      "value": "{{ scm_default_pass }}"
    }, {
      "name" : "cm.metrics.service.name",
      "value" : "KAFKA-1"
    }
  ],
  "roleConfigGroups": [
    {
      "refName": "STREAMS_MESSAGING_MANAGER-STREAMS_MESSAGING_MANAGER_SERVER-BASE",
      "roleType": "STREAMS_MESSAGING_MANAGER_SERVER",
      "configs": [
        {
          "name": "streams.messaging.manager.storage.connector.connectURI",
          "value": "jdbc:mysql://{{ hostvars[db_hostname]['inventory_hostname'] }}/{{ databases.streamsmsgmgr.name }}"
        }, {
          "name": "streams.messaging.manager.storage.connector.user",
          "value": "{{ databases.streamsmsgmgr.user }}"  
        }, {
          "name": "streams.messaging.manager.storage.connector.password",
          "value": "{{ databases.streamsmsgmgr.pass }}"
        }, {
          "name" : "streams.messaging.manager.schema.registry.url",
          "value" : "http://localhost:7788/api/v1"
        }
      ],
      "base": true
    }, {
      "refName": "STREAMS_MESSAGING_MANAGER-STREAMS_MESSAGING_MANAGER_UI-BASE",
      "roleType": "STREAMS_MESSAGING_MANAGER_UI",
      "configs": [],
      "base": true
    }
        
  ]
}